# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Google Drive ccobos at unicauca\ccobos\Asignaturas\Metaheuristicas\Codigos-en-python\optimizacion-continua\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
